*
{
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
}

html
{
    overflow-x: hidden;
}

main
{
    padding: 5rem 10rem;
    padding-bottom: 0;
}

button:hover
{
    cursor: pointer;
}

/* HEADER */

.header
{
    display: flex;
    justify-content: space-between;  
    color: hsl(228, 39%, 23%);
    align-items: center;
}

.ul
{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.ul li:hover
{
    cursor: pointer;
}

.header__btn
{
    background-color: hsl(12, 88%, 59%);
    border: none;
    border-radius: 30px;
    padding: 1rem 2rem;
    color: white;
    -webkit-box-shadow: 0px 10px 25px -5px rgba(255,47,0,1);
    -moz-box-shadow: 0px 10px 25px -5px rgba(255,47,0,1);
    box-shadow: 0px 10px 25px -5px rgba(255,47,0,1);
}

.bg_tablet
{
    z-index: -2;
    position: absolute;
    right: -10rem;
    top: -10rem;
}

/* SECTION 1 */

.section
{
    margin-top: 15rem;
    display: flex;
}

.section--first
{
    margin-top: 10rem;
    gap: 4rem;
}

.section__object
{
    align-self: center;
}

.div__h1
{
    color: hsl(228, 39%, 23%);
    font-size: 5em;
}

.div__p
{
    margin: 2rem 0;
    color: hsl(227, 12%, 61%);
}

/* SECTION 2 */

.section--second
{
    justify-content: space-between;
}

.section__h1
{
    font-size: 3em;
    color: hsl(228, 39%, 23%);
}

.section__div
{
    display: flex;
}

.section__p
{
    margin: 2rem 0;
    color: hsl(227, 12%, 61%);
}

.section__div__h2
{
    color: hsl(228, 39%, 23%);
}

.section__div__p
{
    background-color: hsl(12, 88%, 59%);
    color: white;
    height: fit-content;
    border-radius: 30px;
    padding: 0.8rem 2rem;
    margin-right: 1rem;
}

.section--second__div--list
{
    width: 580px;
}

/* SECTION 3 */

.section--third
{
    display: block;
    text-align: center;
    margin: 15rem -10rem;
}

.section--third__div
{
    display: flex;
    margin: 6rem 0;
}

.section--third__h1
{
    color: hsl(228, 39%, 23%);
    font-size: 3em;
}

.avatar
{
    width: 80px;
}

.section--third__div__div
{
    background-color: hsl(0, 0%, 97%);
    padding: 0 2rem 2rem 2rem;
    margin-right: 2rem;
    flex-basis: 28.9%;
}

.section--third__div__div:last-of-type
{
    margin-right: 0;
}

.section--third__div__div__p
{
    color: hsl(227, 12%, 61%);
}

.third__div__div__figure
{
    margin-top: -7%;
}

.section--third__div__div__h2
{
    color: hsl(228, 39%, 23%);
    margin-bottom: 0.5rem;
}

/* SECTION 4 */

.section--fourth
{
    justify-content: space-between;
    background-color: hsl(12, 88%, 59%);
    color: white;
    margin: 0 -10rem;
    padding: 5rem 10rem;
    align-items: center;
}

.section--fourth__h1
{
    font-size: 3em;
}

.section--fourth__btn
{
    background-color: white;
    color: hsl(12, 88%, 59%);
}

/* FOOTER */

.footer
{
    background-color: hsl(233, 12%, 13%);
    margin: 0 -10rem;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5rem 10rem;
}

.footer__div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social_media
{
    display: flex;
    gap: 0.8rem;
}

.social_media object
{
    width: 30px;
}

svg
{
    cursor: pointer;
}

.footer__input
{
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    margin-right: 0.5rem;
}

.footer__btn
{
    background-color: hsl(12, 88%, 59%);
    color: white;
    height: fit-content;
    border-radius: 30px;
    padding: 1rem 2rem;
    margin-right: 1rem;
    border: none;
}

.footer__p
{
    font-size: 0.9em;
    text-align: end;
    color: hsl(227, 12%, 61%);
}

.footer__ul
{
    list-style-type: none;
    display: flex;
    gap: 10rem;
}

.ul__li
{
    margin-bottom: 1rem;
}

.ul__li:hover
{
    cursor: pointer;
}

.ul_li:last-of-type
{
    margin-bottom: 0;
}

@media screen and (max-width: 576px)
{
    ::-webkit-scrollbar 
    {
        display: none;
    }

    main
    {
        padding: 2.5rem 1.5rem;
        padding-bottom: 0;
    }

    .section
    {
        margin-top: 8rem;
    }

    /* HEADER */

    .logo
    {
        width: 124px;
    }

    .nav
    {
        display: none;
    }

    header .header__btn
    {
        display: none;
    }

    .bg_tablet
    {
        top: -19rem;
        right: -22rem;
    }

    /* SECTION 1 */

    .section--first
    {
        flex-direction: column-reverse;
        text-align: center;
    }

    .section--first svg
    {
        width: 100px;
    } 

    .div__h1
    {
        font-size: 3.7em;
    }

    .div__p
    {
        font-size: 1.7em;
    }

    .header__btn
    {
        font-size: 1em;
    }

    /* SECTION 2 */

    .section--second
    {
        flex-direction: column;
        text-align: center;
    }

    .section__p
    {
        font-size: 1.4em;
        width: 100%;
    }

    .section--second__div--list
    {
        width: auto;
        text-align: left;
    }

    .section__div__h2
    {
        display: flex;
        align-items: center;
    }

    /* SECTION 3 */
    .section--third__h1
    {
        font-size: 3em;
    }

    .section--third
    {
        margin: 8rem -1.5rem;
    }

    .section--third__div__div__h2
    {
        font-size: 1.2em;
    }

    .third__div__div__figure
    {
        margin-top: 0;
    }

    .section--third__div__div__p
    {
        font-size: 1.2em;
    }

    .section--third__div__div
    {
        padding: 2rem 3rem 3rem 3rem;
        flex-basis: 83vw;
        flex-shrink: 0;
    }

    .swiper
    {
        height: 300px;
    }

    .swiper-wrapper
    {
        overflow-y: hidden !important;
    }

    .swiper-pagination-bullet-active
    {
        background-color: hsl(12, 88%, 59%);
    }

    /* SECTION 4 */

    .section--fourth
    {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    /* FOOTER */

    .footer
    {
        flex-direction: column-reverse;
        align-items: center;
        gap: 4rem;
    }

    .footer__p
    {
        display: none;
    }

    .footer__div
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer__div--input
    {
        width: 100%;
    }

    .div--input
    {
        width: 100%;
        text-align: center;
    }

    .div--input input
    {
        width: 66%;
    }

    .footer__btn
    {
        margin-right: 0;
    }

    .footer__ul
    {
        font-size: 1.2em;
    }

    .social_media
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer__div--social_media
    {
        width: 100%;
    }

    .social_media object
    {
        width: 60px;
    }

    .footer__logo
    {
        margin-top: 2rem;
        width: 200px;
    }

}


